div.shop {
    margin: 3% 10%;
}

div.shop > div.column-left {
    margin-top: 10%;
    width: 20%;
    float: left;
    border: #242424 1px solid;
}

div.shop > div.column-right {
    margin-top: 3%;
    width: 75%;
    float: right;
}

div.column-right > h1 {
    text-align: left;
}

div.span-flex {
    display: flex;
    flex-direction: column;
}

div.span-flex > span.in{
    margin-top: 1.5vh;
}

div.span-flex > div.icon {
    display: inline;
    margin-bottom: 2vh;
}

div.span-flex > div.icon:hover {
    opacity: 50%;
}