* {
    color: #242424;
    font-family: 'Montserrat';
}

img.info {
    height: 60vh;
    float: left;
    margin-right: 4vw;
}

h1.info {
    text-align: left;
}

li.info  {
    border: #242424 1px solid;
}

div.info {
    background-color: #FFFAFA;
    margin: 5% 5%;
    margin-left: 10%;
    width: 80%;
    font-size: 1.15rem;
}


.clearfix {
	clear: both;
}

button {
    background-color: #C489FF;
    color: #FFFAFA;
    text-align: center;
    border-radius: 1.5rem;
    border: #C489FF 1px solid;
    font-size: 1.15rem;
    padding: 0.7rem 1rem;
}
