div.backet {
    margin: 0% 5%;
}

.head {
    display: flex;
    gap: 1%;
    align-items: center;
}

.left {
    margin-top: 3%;
    width: 60%;
    float: left;
}

.right {
    margin-top: 3%;
    width: 35%;
    float: right;
}

.flex {
    display: flex;
    justify-content: space-between;
}

button.backet {
    margin-top: 2%;
    border-radius: 15px;
    width: 100%;
    padding: 1.5%;
    text-align: center;
    font-size: 1.5em;
    background-color: #C489FF;
    border: none;
}